.multi-select-date-field .multi-selected,
.multi-select-date-field .multi-selected:hover,
.multi-select-date-field .multi-selected:active {
  color: white;
  background: purple;
}
.multi-select-date-field .multi-unselected {
  background: transparent;
}
.multi-select-date-field .selected {
  color: inherit;
}
.multi-select-date-field .selected.multi-selected {
  color: white;
}