
.multi-select-date-field .week .day-availability:hover,
.multi-select-date-field .week .day-availability:active {
  color: black !important;
  background: greenyellow !important;
}

.multi-select-date-field .week .day-availability{
    background: green !important;
    color: white !important;
}

.multi-select-date-field .week .day-selected {
    color: black !important;
    background: greenyellow !important;
}

/*



.day-not-enabled {
  background: red;
}*/